<li class="item " style="background-color:{{thumb.color}};">
    <div class="contain" data-name="{{thumb.abbr}}">
        <div class="info"> {{name}}
            <dl>
                
                <dt> <span class="icon {{thumb.icon}}"> </span></dt>
                <dt>{{name}}</dt>
            
            </dl>
        </div>
    </div>
</li>