<figure id="imgFull">
    <img src="{{images.0.image}}" alt=""/>

   {{#if caption}}
         <figcaption>{{caption}}</figcaption>
    {{/if}}
</figure>

<ul id="slider-controls">

    <li><a href="#" title="previous picture" class="prev icon icon-prev"></a></li>
    <li><a href="#" title="next picture" class="next icon icon-next"></a></li>
</ul>

<div class="expanded-info">
<dl>
    <dt>Category</dt>
    <dd><span class="icon"></span> {{this.category}}</dd>
    <dd>{{this.platform}}</dd> 

    <dt>Project</dt>
    <dd>{{this.name}}</dd>       
    
    <dt class="skills">Skills</dt>
    {{#each this.skills}}
    <dd class="skills">{{skill}}</dd>
    {{/each}}

    <dt>Role</dt>
    {{#each this.role}}
        <dd>{{role}}</dd>
    {{/each}}

    <dt class="team">Team</dt>
    {{#each this.team}}
    <dd class="team" >{{member}} - <em>{{role}}</em></dd>
    {{/each}}

    <dt>Year</dt>
    <dd>{{this.year}}</dd>

    <dt class="desc">Description</dt>
    <dd class="desc">{{this.description}}</dd>
</dl>
</div>
